.jumbotron {

}

.display-4 {

}

p {

}

Spirit-Img {

}

Ingredient-Img {

}

Store-Img {
    
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-page-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10px;
}
.results-container {
    display: flex;
    justify-content: space-between;
}



.custom {
    width: 250px;
  
}

#deck {
    display: flex;
    justify-content: space-between;
}
}