.jumbotron {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	}

.display-4 {
    text-align: center;
}  
.logo {
   align-content: space-between;
}

 img {
    height: 382px;
    width: 382px;
}


.flex {
    display: flex;
    justify-content: space-between;
}

.main-page-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10px;
}
.results-container {
    display: flex;
    justify-content: space-between;
}

.btn-secondary {
    background:  #23d5ab;
    color: black;
}
.btn-secondary:hover {
  background:  #23a6d5;
}
.btn-secondary:visited{
    background:  #23d5ab;
}
.btn-secondary:active{
    background:  #23a6d5;
}
.btn-secondary:focus{
    background:  #23d5ab;
}
.custom {
    width: 250px;
}

#deck {
    display: flex;
    justify-content: space-between;
}

.results-card {
    height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;

}

.store-list {
    list-style-type: none;
}

.store-list-card {
    margin-bottom: 15px;
    height: auto;
   
    text-align: center;
    padding: 10px;
}

.store-card {
    margin-right: auto;
    margin-left: auto;
}
.ingredients-list {
    margin-bottom: 20px;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.card-body {
    background:  #ee7752; 
}
.store-list-card {
    background:  #23d5ab;
}
.list-group-item {
    background:  #23d5ab;
}
.store-card {
    background:  #ee7752; 
}
.card-header {
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
}
.row {
    margin-right: 1px;
    margin-left: 1px;
}
.main-page-card {
    border: none;
}
.results-card {
  border: none;
}
.btn-outline-secondary {
    background:  #23d5ab;
    color: black;
}
.btn-outline-secondary:hover {
  background:  #23a6d5;
}
.btn-outline-secondary:visited{
    background:  #23d5ab;
}
.btn-outline-secondary:active{
    background:  #23a6d5;
}
.btn-outline-secondary:focus{
    background:  #23d5ab;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

.btn-outline-secondary:disabled{
    background:  #23d5ab;
    color: black;
}
p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545353;
}